body {
  font-family: Arial, sans-serif;
  background: url('https://images.unsplash.com/photo-1728519616666-d092572850f9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw5NHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  max-width: 400px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  width: 90%;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #4facfe;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  width: 45%;
  margin-top: 10px;
  margin-left: 5px;
}

button:hover {
  background: #00c6fb;
}

.weather-info {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  button {
    font-size: 14px;
  }
}